# Node.js dependencies
node_modules/
npm-debug.log

# Environment variables
.env
.env.*
!.env.example

# macOS specific
.DS_Store

# Logs
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
